.div-main{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.form-message{
  all: unset;
width: 380px;
height: 40px;
background-color: #2a3942;
border-radius: 20px;
padding: 9px 12px;
color:#ffffff;
}
.form{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 500px;
 justify-content: center;
 

}


.form-bot{

  bottom: 40px;
  
  
}

.render{
  display: flex;
  flex-direction: column;
}

.box{
  background: #f3e2f2;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  border: 1px solid #220220;;
  padding: 20px;
 
  overflow-y:auto;
  

	
}

.button-submit{
margin: auto;
background-color:  #D94D9C;
height: 60px;
color: white;
border-radius: 20px;
}


.robo-main{
  width: 500px;
  height: 500px;
}



